<!-- =========== Page Body Inside Content =========== -->
<div class="inside-body-content-container clearfix">
  <!-- =========== Section 1: Carousel =========== -->
  <div id="top-banner" class="container-fluid carousel-container horizontal-section-container clearfix">
      <div class="row">
          <div class="col-xs-12">
              <div id="top-banner-carousel" class="owl-carousel owl-theme full-page-image-slider">

                  <div class="item">
                      <div class="text bottom left">
                          <a href="about.html"><h2>Highly Customisable Multipurpose Theme</h2></a>
                          <div class="clearfix"></div>
                          <a href="about.html"><h5>Various reusable sections and components</h5></a>
                      </div>
                      <a href="about.html">
                        <%= image_tag("Pastor_NaB_FGC.jpg", class: "lazyOwl", alt: "Finishing Generation Congress") %>
                        <!-- <img class="lazyOwl" data-src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xpf1/t31.0-8/10506593_735030763220249_4122354701387342674_o.jpg"> -->
                        </a>
                  </div>

                  <div class="item">
                      <div class="text bottom right">
                          <a href="services-grid.html"><h2>Clean and Effective Design</h2></a>
                          <div class="clearfix"></div>
                          <a href="services-grid.html"><h5>Elegant design which clearly presents the information</h5></a>
                      </div>
                      <a href="services-grid.html">
                        <%= image_tag("PastorNaB_013.jpg", class: "lazyOwl", alt: "Pastor Nana Banyin at Kharys Ministry") %>
                        <!-- <img class="lazyOwl" data-src="http://www.flccuk.com/wp-content/uploads/2014/12/PastorNaB_013-1140x460.jpg" src="#" alt="Highway"> -->
                      </a>
                  </div>

                  <div class="item">
                      <div class="text bottom left no-side-padding">
                          <a href="blog.html"><h2>Fully responsive layout</h2></a>
                          <div class="clearfix"></div>
                          <a href="blog.html"><h5>Well organised and structured, for every screen and device</h5></a>
                      </div>
                      <a href="blog.html">
                        <%= image_tag("youth.jpg", class: "lazyOwl", alt: "Youth of Yesterday Adults of Today") %></a>
                  </div>

                  <div class="item">
                      <a href="activities.html" class="text bottom-full-width">
                          <!-- change this <a> to a <div> if you don't want the caption to be a link -->
                          <h2>Well documented and simple to use</h2>
                          <p>A variety of layouts built with Bootstrap, which fit your needs</p>
                      </a>
                      <a href="activities.html">
                        <%= image_tag("kingdom-manifestation.jpg", class: "lazyOwl", alt: "kingdom manifestation") %>
                      </a>
                  </div>

              </div><!-- #top-banner-carousel -->

              <!-- banner navigation arrows - comment out to de-activate -->
              <div class="slider-nav slider-nav-left"><i class="fa fa-angle-left"></i></div>
              <div class="slider-nav slider-nav-right"><i class="fa fa-angle-right"></i></div>

          </div><!-- .col-xs-12 -->
      </div><!-- .row -->
    </div><!-- #top-banner -->
    <!-- End: Section 1: Carousel -->
