<!-- =========== Page Body Inside Content =========== -->
<div class="inside-body-content-container clearfix">
  <!-- =========== Section 1: Carousel =========== -->
  <div id="top-banner" class="container-fluid carousel-container horizontal-section-container clearfix">
      <div class="row">
          <div class="col-xs-12">
              <div id="top-banner-carousel" class="owl-carousel owl-theme full-page-image-slider">

                  <div class="item">
                      <div class="text bottom left">
                          <a href="about.html"><h2>Heaven on Earth</h2></a>
                          <div class="clearfix"></div>
                          <a href="about.html"><h5>Prince of Peace. Mighty Counsellor. Jesus Christ</h5></a>
                      </div>
                      <a href="about.html">
                        <%= image_tag("Pastor_NaB_FGC.jpg", class: "lazyOwl", alt: "Finishing Generation Congress") %>
                        </a>
                  </div>

                  <div class="item">
                      <div class="text bottom right">
                          <a href="#"><h2>Fearless Confidence | 2 Tim. 1:7</h2></a>
                          <div class="clearfix"></div>
                          <a href="#"><h5>For God gave us a spirit not of fear but of power and love and self-control.</h5></a>
                      </div>
                      <a href="#">
                        <%= image_tag("PastorNaB_013.jpg", class: "lazyOwl", alt: "Pastor Nana Banyin at Kharys Ministry") %>
                      </a>
                  </div>

                  <div class="item">
                      <div class="text bottom left no-side-padding">
                          <a href="blog.html"><h2>Loved and Honoured|Isaiah 43:4</h2></a>
                          <div class="clearfix"></div>
                          <a href="blog.html"><h5>Because you are precious in my eyes,
and honoured, and I love you</h5></a>
                      </div>
                      <a href="blog.html">
                        <%= image_tag("youth.jpg", class: "lazyOwl", alt: "Youth of Yesterday Adults of Today") %></a>
                  </div>

                  <div class="item">
                      <!-- <a href="activities.html" class="text bottom-full-width">
                          <h2>2015: Kingdom Manifestation</h2>
                          <p>Christ Revealed. Church Reformed. City Rebuilt</p>
                      </a> -->
                      <a href="activities.html">
                        <%= image_tag("kingdom-manifestation.jpg", class: "lazyOwl", alt: "kingdom manifestation") %>
                      </a>
                  </div>

              </div><!-- #top-banner-carousel -->

              <!-- banner navigation arrows - comment out to de-activate -->
              <div class="slider-nav slider-nav-left"><i class="fa fa-angle-left"></i></div>
              <div class="slider-nav slider-nav-right"><i class="fa fa-angle-right"></i></div>

          </div><!-- .col-xs-12 -->
      </div><!-- .row -->
    </div><!-- #top-banner -->
    <!-- End: Section 1: Carousel -->
