<!-- =========== Section 4 =========== -->
<div class="container-fluid horizontal-section-container clearfix">
    <div class="row">

        <div class="col-sm-12">
            <!-- Latest Posts -->
            <div id="home-latest-posts" class="section-container clearfix">

                <a href="blog.html" class="section-header with-icon">
                    <div class="icon"><span class="fa fa-pencil"></span></div>
                    <h5 class="text">Latest Blog Posts</h5>
                </a><!-- .section-header -->

                <div class="section-content">

                    <!-- News Items -->
                    <div class="horizontal-news-list row equal-height clearfix">

                        <!-- news item -->
                        <div class="item col-sm-3">
                            <div class="item-content clearfix">
                                <div class="date">
                                    <div class="day">15</div>
                                    <div class="month">Apr</div>
                                </div>
                                <div class="text">
                                    <h6 class="title"><a href="blog-item.html">Proin gravida nibh vel velit auctor aliquets ollic</a></h6>
                                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...</p>
                                </div>
                                <a href="blog-item.html" class="read-more-arrow"></a>
                            </div><!-- .item-content -->
                        </div><!-- .item -->

                        <!-- news item -->
                        <div class="item col-sm-3">
                            <div class="item-content clearfix">
                                <div class="date">
                                    <div class="day">10</div>
                                    <div class="month">Apr</div>
                                </div>
                                <div class="text">
                                    <h6 class="title"><a href="blog-item-2.html">Vel velit auctor ipsua liquets ollic</a></h6>
                                    <p>Aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...</p>
                                </div>
                                <a href="blog-item-2.html" class="read-more-arrow"></a>
                            </div><!-- .item-content -->
                        </div><!-- .item -->

                        <!-- news item -->
                        <div class="item col-sm-3">
                            <div class="item-content clearfix">
                                <div class="date">
                                    <div class="day">6</div>
                                    <div class="month">Apr</div>
                                </div>
                                <div class="text">
                                    <h6 class="title"><a href="blog-item.html">Lore gravida nibh vel velit auctor aliquets ollic</a></h6>
                                    <p>Aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...</p>
                                </div>
                                <a href="blog-item.html" class="read-more-arrow"></a>
                            </div><!-- .item-content -->
                        </div><!-- .item -->

                        <!-- news item -->
                        <div class="item col-sm-3">
                            <div class="item-content clearfix">
                                <div class="date">
                                    <div class="day">27</div>
                                    <div class="month">Mar</div>
                                </div>
                                <div class="text">
                                    <h6 class="title"><a href="blog-item-2.html">Gravida nibh vel velit auctor aliquets ollic</a></h6>
                                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...</p>
                                </div>
                                <a href="blog-item-2.html" class="read-more-arrow"></a>
                            </div><!-- .item-content -->
                        </div><!-- .item -->

                    </div><!-- .thumbnail-list -->

                </div><!-- .section-content -->

            </div><!-- .section-container -->
            <!-- Latest Posts -->
        </div><!-- .col-xs-12 -->

    </div><!-- .row -->
</div><!-- .container-fluid -->
<!-- End: Section 4 -->          
