<!-- =========== Section 3 =========== -->
<div class="container-fluid horizontal-section-container clearfix">
    <div class="row">

        <div class="col-xs-12">
            <!-- Latest News -->
            <div id="home-latest-news" class="section-container clearfix">

                <a href="news.html" class="section-header with-icon">
                    <div class="icon"><span class="glyphicon glyphicon-bullhorn"></span></div>
                    <h5 class="text">Latest News</h5>
                </a><!-- .section-header -->

                <div class="section-content">

                    <!-- News Items -->
                    <div class="thumbnail-list row equal-height clearfix">

                        <!-- news item -->
                        <div class="item col-sm-3">
                            <div class="thumbnail item-content">
                                <a href="generic-page-w-submenu.html" class="img-mask-effect fade scaleimage">
                                    <img src="images/temp/thumb-g-1.jpg" alt="Sunset scenery">
                                    <i class="mask"><span class="glyphicon glyphicon-search"></span></i>
                                </a>
                                <div class="caption">
                                    <span class="date">Apr 15</span>
                                    <h6 class="title"><a href="generic-page-w-submenu.html">Proin gravida nibh vel velit auctor aliquets ollic</a></h6>
                                </div>
                            </div><!-- .thumbnail -->
                        </div><!-- .item -->

                        <!-- news item -->
                        <div class="item col-sm-3">
                            <div class="thumbnail item-content">
                                <a href="generic-page-w-submenu.html" class="img-mask-effect fade scaleimage">
                                    <img src="images/temp/thumb-g-2.jpg" alt="Clothing line pegs">
                                    <i class="mask"><span class="glyphicon glyphicon-search"></span></i>
                                </a>
                                <div class="caption">
                                    <span class="date">Apr 10</span>
                                    <h6 class="title"><a href="generic-page-w-submenu.html">Nisi elit consequat ipsum</a></h6>
                                </div>
                            </div><!-- .thumbnail -->
                        </div><!-- .item -->

                        <!-- news item -->
                        <div class="item col-sm-3">
                            <div class="thumbnail item-content">
                                <a href="generic-page-w-submenu.html" class="img-mask-effect fade scaleimage">
                                    <img src="images/temp/thumb-g-3.jpg" alt="Butterfly">
                                    <i class="mask"><span class="glyphicon glyphicon-search"></span></i>
                                </a>
                                <div class="caption">
                                    <span class="date">Apr 5</span>
                                    <h6 class="title"><a href="generic-page-w-submenu.html">Proin gravida nibh vel velit auctor aliquets ollic si elit consequat ipsum lorem ipsum</a></h6>
                                </div>
                            </div><!-- .thumbnail -->
                        </div><!-- .item -->

                        <!-- news item -->
                        <div class="item col-sm-3">
                            <div class="thumbnail item-content">
                                <a href="generic-page-w-submenu.html" class="img-mask-effect fade scaleimage">
                                    <img src="images/temp/thumb-g-4.jpg" alt="Lake">
                                    <i class="mask"><span class="glyphicon glyphicon-search"></span></i>
                                </a>
                                <div class="caption">
                                    <span class="date">Mar 27</span>
                                    <h6 class="title"><a href="generic-page-w-submenu.html">Proin gravida nibh vel velit auctor aliquets ollic</a></h6>
                                </div>
                            </div><!-- .thumbnail -->
                        </div><!-- .item -->

                    </div><!-- .thumbnail-list -->

                </div><!-- .section-content -->

            </div><!-- .section-container -->
            <!-- Latest News -->
        </div><!-- .col-xs-12 -->

    </div><!-- .row -->
</div><!-- .container-fluid -->
<!-- End: Section 3 --> 
