<!-- =========== Section 2 =========== -->
<div class="container-fluid horizontal-section-container clearfix">
    <div class="row">

        <div class="col-sm-7">
            <!-- Website Intro Paragraph -->
            <div id="home-intro-paragraph" class="section-container featured-text clearfix">

                <h2>The Parable of the Growing Seed</h2>

                <p>
<strong>Mark 4:26-29</strong> He also said, “This is what the kingdom of God is like. A man scatters seed on the ground. Night and day, whether he sleeps or gets up, the seed sprouts and grows, though he does not know how. All by itself the soil produces grain—first the stalk, then the head, then the full kernel in the head. As soon as the grain is ripe, he puts the sickle to it, because the harvest has come.” </p>

                <p><a href="#" class="btn btn-outline-inverse btn-lg">find out more</a></p>

            </div><!-- .section-container -->
            <!-- End: Website Intro Paragraph -->
        </div><!-- .col-sm-7 -->

        <div class="col-sm-5">

            <!-- Services -->
            <div id="home-services" class="section-container sm-extra-top-padding clearfix">

                <a href="#" class="section-header with-icon">
                    <div class="icon"><span class="fa fa-th"></span></div>
                    <h5 class="text">Services</h5>
                </a><!-- .section-header -->

                <div class="section-content clearfix">
                    <ul class="vertical-simple-list">

                        <!-- list item -->
                        <li class="item clearfix"><a href="#" class="item-content">
                            <div class="icon"><span class="fa fa-book"></span></div>
                            <h6 class="title">Digital Christian Library</h6>
                        </a></li>

                        <!-- list item -->
                        <li class="item clearfix"><a href="#" class="item-content">
                            <div class="icon"><span class="fa fa-building"></span></div>
                            <h6 class="title">Venue Rental</h6>
                        </a></li>

                        <!-- list item -->
                        <li class="item clearfix"><a href="#" class="item-content">
                            <div class="icon"><span class="fa fa-medkit"></span></div>
                            <h6 class="title">Prayer Request</h6>
                        </a></li>

                        <!-- list item -->
                        <li class="item clearfix"><a href="#" class="item-content">
                            <div class="icon"><span class="fa fa-globe"></span></div>
                            <h6 class="title">World Mission</h6>
                        </a></li>

                        <!-- list item -->
                        <li class="item clearfix"><a href="#" class="item-content">
                            <div class="icon"><span class="fa fa-shield"></span></div>
                            <h6 class="title">Finishing Generation Congress</h6>
                        </a></li>

                    </ul><!-- .vertical-simple-list -->
                </div><!-- .section-content -->

            </div><!-- .section-container -->
            <!-- End: Services -->

        </div><!-- .col-sm-5 -->

    </div><!-- .row -->
</div><!-- .container-fluid -->
<!-- End: Section 2 -->
