<!-- Beneath Footer -->
<div id="beneath-footer" class="center-container clearfix">

    <!-- left -->
    <div class="col-sm-6 beneath-footer-left">
        <div class="text">
          &copy; 2015 Family Life Christian Centre <br/>
          <a href="http://jonesagyemang.site44.com">Lovingly Crafted by..</a>
        </div>
    </div>

    <!-- right -->
    <div class="col-sm-6 beneath-footer-right">
        <ul class="social-media-icons clearfix">
            <li><a href="#" target="_blank" title="Facebok"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" target="_blank" title="Google+"><i class="fa fa-google-plus"></i></a></li>
        </ul>
    </div>

</div><!-- #beneath-footer -->
