<!-- =========== Footer =========== -->
        <footer class="container-fluid horizontal-section-container clearfix">
            <div class="row">

                <!-- footer hor divider -->
                <div class="col-xs-12"><hr class="hor-divider" /></div>

                <div class="col-sm-6">
                    <!-- Affiliates Carousel -->
                    <div id="footer-affiliates" class="section-container clearfix">

                        <a href="#" class="section-header footer-header">
                            <!-- <h5 class="text">Partners around the World</h5> -->
                        </a><!-- .section-header -->

                        <div class="section-content clearfix">
                            <!-- initialised in /js/initialise-functions.js -->
                            <ul id="affiliates-slider-4cols" class="icons-grid-list-4cols owl-carousel owl-theme">

                                <!-- icon -->
                                <li class="icon clearfix">
                                    <a href="#">
                                      <%= image_tag("logo.png") %>
                                      <!-- <img src="images/temp/icon-company1.png" alt="Company Logo"> -->
                                    </a>
                                </li>

                                <!-- icon -->
                                <!-- <li class="icon clearfix">
                                    <a href="#">
                                      <%= image_tag("dr-jonathan-david-logo.png") %>
                                    </a>
                                </li> -->

                                <!-- icon -->
                                <!-- <li class="icon clearfix">
                                    <a href="#"><img src="images/temp/icon-company3.png" alt="Company Logo"></a>
                                </li> -->

                                <!-- icon -->
                                <!-- <li class="icon clearfix">
                                    <a href="#"><img src="images/temp/icon-company4.png" alt="Company Logo"></a>
                                </li> -->

                                <!-- icon -->
                                <!-- <li class="icon clearfix">
                                    <a href="#"><img src="images/temp/icon-company5.png" alt="Company Logo"></a>
                                </li> -->

                                <!-- icon -->
                                <!-- <li class="icon clearfix">
                                    <a href="#"><img src="images/temp/icon-company1.png" alt="Company Logo"></a>
                                </li> -->

                            </ul><!-- .icons-grid-list -->
                        </div><!-- .section-content -->

                    </div><!-- .section-container -->
                    <!-- End: Affiliates Carousel -->
                </div><!-- .col-sm-6 -->

                <div class="col-sm-6">
                    <!-- Contact Us -->
                    <div id="footer-contact-us" class="section-container clearfix">

                        <a href="contact-2.html" class="section-header footer-header">
                            <h5 class="text">Contact Us</h5>
                        </a><!-- .section-header -->

                        <div class="section-content clearfix">
                            <div class="vertical-simple-list contact-list">

                                <div class="col-xs-6">
                                    <!-- list item -->
                                    <div class="item clearfix"><div class="item-content">
                                        <div class="icon"><span class="glyphicon glyphicon-map-marker"></span></div>
                                        <h6 class="title">House of Favour, 454 - 460 Old Kent Road
London, <br/>SE1 5AG</h6>
                                    </div></div>
                                </div><!-- .col-xs-6 -->

                                <div class="col-xs-6">
                                    <!-- list item -->
                                    <div class="item clearfix"><div class="item-content">
                                        <div class="icon"><span class="glyphicon glyphicon-earphone"></span></div>
                                        <h6 class="title">Telephone: 0207 064 6888</h6>
                                    </div></div>

                                    <!-- list item -->
                                    <div class="item clearfix"><div class="item-content">
                                        <div class="icon"><span class="glyphicon glyphicon-envelope"></span></div>
                                        <h6 class="title">Email: admin@flccuk.com</h6>
                                    </div></div>
                                </div><!-- .col-xs-6 -->

                            </div><!-- .vertical-simple-list -->
                        </div><!-- .section-content -->

                    </div><!-- .section-container -->
                    <!-- End: Contact Us -->
                </div><!-- .col-sm-6 -->

            </div><!-- .row -->
        </footer><!-- .container-fluid -->
        <!-- End: Footer -->

    </div><!-- .inside-body-content-container -->
    <!-- End: Page Body Inside Content -->

</div><!-- .outer-container -->
<!-- End: Page Outer Container -->
