<!-- =========== Header =========== -->
<header class="clearfix">
  <div class="logo">
    <a href="/">
      <%= image_tag("flcc-logo.jpg", alt: "FLCC logo") %>
      <ul class="">
        <li id="main-logo-text">Family Life Christian Centre</li>
        <li id="sub-logo-text">Raising Breakthrough Generation</li>
      </ul>
    </a>
  </div><!-- .logo -->

  <div id="main-menu-container" class="clearfix">
    <div id="mobile-menu-icon" class="btn btn-outline-inverse visible-xs">
      <span class="glyphicon glyphicon-th"></span>
    </div>

    <div id="search-container">
        <div id="search-icon"><i class="fa fa-search"></i></div>
        <div id="search-input">
            <form class="clearfix">
                <input type="text" class="form-control" id="website-search" name="search" placeholder="Search">
                <div id="search-close"><i class="fa fa-times"></i></div>
            </form>
        </div>
    </div><!-- #search-container -->

    <ul id="main-menu">
        <li class="menu-item current-menu-ancestor"><a href="/">Home</a>
            <!-- <ul class="sub-menu">
                <li class="menu-item current-menu-item"><a href="/">Layout 1</a></li>
                <li class="menu-item"><a href="index-2.html">Layout 2</a></li>
            </ul> -->
        </li>
        <li class="menu-item"><a href="#">About</a>
            <ul class="sub-menu">
                <li class="menu-item"><a href="#">Vision</a></li>
                <li class="menu-item"><a href="#">Mission</a></li>
                <li class="menu-item"><a href="#">Values</a></li>
                <li class="menu-item"><a href="#">Church History</a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="#">Ministries</a>
            <ul class="sub-menu">
                <li class="menu-item"><a href="#">Prayer Tower</a></li>
                <li class="menu-item"><a href="#">Children</a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="#">Resources</a>
            <ul class="sub-menu">
                <li class="menu-item"><a href="#">Bookshop</a></li>
                <li class="menu-item"><a href="#">Prophetic School</a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="#">Events</a>
            <ul class="sub-menu">
                <li class="menu-item"><a href="#">Upcoming</a></li>
                <li class="menu-item"><a href="#">Past</a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="#">Prayers</a>
            <ul class="sub-menu">
                <li class="menu-item"><a href="#">Make a Request</a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="#">Contacts</a>
            <ul class="sub-menu">
                <li class="menu-item"><a href="#">Admin</a></li>
                <li class="menu-item"><a href="#">Counselling</a></li>
                <li class="menu-item"><a href="#">Environmental</a></li>
                <li class="menu-item"><a href="#">Media</a></li>
            </ul>
        </li>
    </ul><!-- #main-menu -->
  </div><!-- #menu-container -->
</header>
