<!-- =========== Header =========== -->
<header class="clearfix">
  <div class="logo">
      <a href="index.html">
        <%= image_tag("logo.png", alt: "FLCC logo") %>
      </a>
  </div><!-- .logo -->

  <div id="main-menu-container" class="clearfix">
    <div id="mobile-menu-icon" class="btn btn-outline-inverse visible-xs">
      <span class="glyphicon glyphicon-th"></span>
    </div>

    <div id="search-container">
        <div id="search-icon"><i class="fa fa-search"></i></div>
        <div id="search-input">
            <form class="clearfix">
                <input type="text" class="form-control" id="website-search" name="search" placeholder="Search">
                <div id="search-close"><i class="fa fa-times"></i></div>
            </form>
        </div>
    </div><!-- #search-container -->

    <ul id="main-menu">
        <li class="menu-item current-menu-ancestor"><a href="index.html">Home</a>
            <ul class="sub-menu">
                <li class="menu-item current-menu-item"><a href="index.html">Layout 1</a></li>
                <li class="menu-item"><a href="index-2.html">Layout 2</a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="about.html">About</a>
            <ul class="sub-menu">
                <li class="menu-item"><a href="about.html">With Sidebar</a></li>
                <li class="menu-item"><a href="about-fullwidth.html">Full Width</a></li>
                <li class="menu-item"><a href="about-gallery.html">Image Gallery</a></li>
                <li class="menu-item"><a href="about-gallery-masonry.html">Image Gallery Masonry</a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="activities.html">Ministries</a>
            <ul class="sub-menu">
                <li class="menu-item"><a href="activities.html">Inline Text</a></li>
                <li class="menu-item"><a href="activities-textmask.html">Text Mask</a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="services.html">Resources</a>
            <ul class="sub-menu">
                <li class="menu-item"><a href="services.html">List</a></li>
                <li class="menu-item"><a href="services-grid.html">Icons Grid</a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="news.html">Events</a>
            <ul class="sub-menu">
                <li class="menu-item"><a href="news.html">With Images</a></li>
                <li class="menu-item"><a href="news-date.html">With Date</a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="blog.html">Prayers</a>
            <ul class="sub-menu">
                <li class="menu-item"><a href="blog.html">Blog Layout 1</a></li>
                <li class="menu-item"><a href="blog-2.html">Blog Layout 2</a></li>
                <li class="menu-item"><a href="blog-3.html">Blog Layout 3</a></li>
                <li class="menu-item"><a href="blog-4.html">Blog Layout 4</a></li>
                <li class="menu-item"><a href="blog-item.html">Blog Item Layout 1</a></li>
                <li class="menu-item"><a href="blog-item-2.html">Blog Item Layout 2</a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="#">Contacts</a>
            <ul class="sub-menu">
                <li class="menu-item"><a href="features-slider.html">Features Slider</a></li>
                <li class="menu-item"><a href="generic-page-w-submenu.html">Page with submenu</a></li>
                <li class="menu-item"><a href="404.html">404 page</a></li>
                <li class="menu-item"><a href="ondemand.html">On Demand</a></li>
            </ul>
        </li>
    </ul><!-- #main-menu -->
  </div><!-- #menu-container -->
</header>
